p {
    text-align: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
    text-align: center;
}
.button {
    align-self: center;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    height: 60px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    background-color: #D7F7F1;
    padding: 2em;
    align-items: center;
    margin: auto;
    
}
html {
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}
.side-fill {
    width: 33%;
    margin: auto;
}
section {
    border-radius: 25px;
}